{% extends 'base.html' %}
{% block content %}

<form method="post" id="form_data">
  <h2>Reset Password</h2>
    {% csrf_token %}

    Email:- <input type="text" name="email" id="email" />  <br>
    
   <input type="submit" id="Save" value="Sent mail" />
</form>
{%endblock content%}
<script type="text/javascript">
	$(document).ready(function () {
    $("#Save").click(function(){          
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    var url = "{% url 'sent-mail' %}"
    var data = new Object();
    data.email = $('#email').val();
    var ndata = JSON.stringify(data);

    $.ajax({
        
        url: url,
        type: "POST",
        data: ndata,
        headers:{"X-CSRFToken": $crf_token},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(ndata){
             alert("Password updated!!");
        },
        failure: function(errMsg) {
            alert(errMsg);
        }
       
    });
});
});
	

</script>

